/*ENIGME UNE
================*/

.enigme_one_screen{
    position: relative;
    background:#666F70;
    overflow: hidden;
    height: 100vh;
    padding: 0;
}

.district_one, .district_two{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    margin: 50px auto;
}

.district_one{
    top: 0%;
}

.district_two{
    bottom: -5%;
}

.house_skin{
    max-width: 100%;
    height: auto;
}

.house{
    border: 1px solid orange;
    width: 120px;
    height: 200px;
}

.house:hover{
    cursor: zoom-in;
}

.indication{
    width: 250px;
    height: 150px;
    border: 4px solid black;
    position: absolute;
    bottom: -150px;
    left: 42%;
}

.buttons_indication{
    border: 2px solid green;
    width: 115px;
    position: absolute;
    bottom: 144px;
    left: 27%;
    display: flex;
}

.button_picture{
    border: none;
    font-size: 20px;
    padding: 0.4em 0.8em;
}

.button_cross{
    color:#FFF;
    font-weight: 900;
    font-size: 20px;
    padding: 0.1em 0.3em;
    height: 50%;
    border: none;
    background: #94090D;
    display: none;
}

.indication img{
    width: 100%;
    height: 100%;
}

.link_house{
    color: #000;
}

.link_house:hover{
    text-decoration: none;
    color: #000;
}
/*FIN ENIGME UNE
=======================*/